@import '../../styles/variables.scss';

.search-page {
    padding-top: 100px;
    padding-bottom: 80px;
    @media screen and (max-width: 550px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: $spacing-small;
    }
    &__container {
        position: relative;
    }
    &__select {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 10px 15px;
        padding-bottom: 11px;
        border-radius: 5px;
        background-color: $green-color;
        cursor: pointer;
    }
    &__option {
        cursor: pointer;
    }
    &__list {
        margin-top: $spacing-big;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $spacing-medium;
        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__results {
        font-size: 24px;
        margin-top: $spacing-big;
    }
}