@import '../../../styles/variables.scss';

.link-back {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-big;
    cursor: pointer;
    &:hover &__img {
        transform: translateX(-20px);
    }
    &__img {
        width: 35px;
        height: 35px;
        transition: transform 0.3s linear;
    }
    span {
        font-size: 18px;
        margin-left: $spacing-small;
    }
}