@import '../../../styles/variables.scss';

.btn {
    font-size: 16px;
    transition: background-color 0.2s linear;
    &--short {
        padding: 10px 15px;

    }
    &--wide {
        width: 100%;
        padding: 10px 0;
        font-weight: 700;
        border-radius: $border-radius-medium;
        text-transform: uppercase;
    }
    &--primary {
        background-color: $green-color;
        &:hover {
            background-color: rgba($green-color, 0.7);
        }
    }
}