.btn {
    font-size: 16px;
    transition: background-color 0.2s linear;
    &--wide {
        width: 100%;
        padding: 10px 0;
        font-weight: 700;
        border-radius: 15px;
        text-transform: uppercase;
    }
    &--primary {
        background-color: #00e36a;
        &:hover {
            background-color: rgba(#00e36a, 0.7);
        }
    }
}