@import '../../styles/variables.scss';

.header {
    padding: 20px 0;
    background-color: $black-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        span {
            font-size: 30px;
            strong {
                font-weight: 700;
                color: $green-color;
            }
        }
    }
    &__profile {
        padding: 10px;
        background-color: $white-color;
        border-radius: $border-radius-small;
        transition: background-color 0.2s linear;
        @media screen and (max-width: 600px) {
            padding: 5px;
        }
        &:hover {
            background-color: $green-color;
        }
        & img {
            width: 30px;
            height: 30px;
        }
    }
}

.mobile-menu {
    padding-top: 80px;
    display: none;
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: $black-color;
    transition: top 0.3s ease-in-out;
    z-index: 20;
    @media screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
    }
    &--active {
        top: 0;
    }
}

.nav {
    @media screen and (max-width: 900px) {
        display: none;
    }
    &--mobile-menu {
        display: block;
        text-align: center;
        margin-top: $spacing-big;
    }
    &__item {
        margin-right: $spacing-medium;
        &--mobile-menu {
            margin-bottom: $spacing-big;
        }
    }
    &__link {
        padding: 7px 10px;
        font-size: 18px;
        border: 2px solid;
        border-radius: $border-radius-small;
        border-color: transparent;
        transition: all 0.2s linear;
        &:hover {
            color: $green-color;
        }    
    }
    &__login {
        font-size: 18px;
        padding: 10px 25px;
        border-radius: $border-radius-small;
        border: 2px solid;
        border-color: $green-color;
        transition: background-color 0.2s linear;
        &:hover {
            background-color: $green-color;
        }
    }
    &__list {
        display: flex;
        &--mobile-menu {
            flex-direction: column;
        }
    }
}

.active {
    border-color: $green-color;
    color: $green-color !important;
}