@import '../../styles/variables.scss';

.film-info {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    &__title {
        font-size: 30px;
        margin-bottom: $spacing-small;
    }
    &__subtitle {
        font-size: 20px;
        opacity: 0.6;
        margin-bottom: $spacing-medium;
    }
    &__back-drop {
        width: 100%;
        height: auto;
    }
    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-big;
    }
    &__overwiev {
        font-size: 18px;
        line-height: 1.2;
    }
    &__field {
        padding: 5px 8px;
        border-radius: $border-radius-small;
        background-color: rgba(255, 255, 255, 0.15);
    }
    &__detail {
        font-size: 16px;
        margin-bottom: $spacing-medium;
    }
    &__text {
        width: 100px;
    }

    &__poster {
        width: 200px;
        height: 300px;
        margin-right: $spacing-big;
        border-radius: $border-radius-small;
        @media screen and (max-width: 500px) {
            width: 160px;
            height: 260px;
        }
    }
    &__detail {
        display: flex;
        align-items: center;
    }
}