@import '../../styles/variables.scss';

.film-info {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    &__title {
        font-size: 30px;
        margin-bottom: $spacing-small;
        @media screen and (max-width: 600px) {
            font-size: 26px;
        }
    }
    &__subtitle {
        font-size: 18px;
        opacity: 0.6;
        margin-bottom: $spacing-medium;
    }
    &__back-drop {
        width: 100%;
        height: auto;
    }
    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-big;
    }
    &__overwiev {
        font-size: 18px;
        line-height: 1.2;
        @media screen and (max-width: 700px) {
            font-size: 16px;
        }
    }
    &__field {
        padding: 5px 8px;
        border-radius: $border-radius-small;
        background-color: rgba($green-color, 0.15);
    }
    &__detail {
        font-size: 16px;
        margin-bottom: $spacing-medium;
    }
    &__text {
        width: 100px;
        @media screen and (max-width: 700px) {
            width: 70px;
        }
    }

    &__poster {
        width: 200px;
        height: 300px;
        margin-right: $spacing-big;
        border-radius: $border-radius-small;
        @media screen and (max-width: 700px) {
            width: 160px;
            height: 260px;
        }
        @media screen and (max-width: 600px) {
            width: 160px;
            height: 260px;
        }
        @media screen and (max-width: 430px) {
            width: 140px;
            height: 240px;
            margin-right: $spacing-medium;
        }
    }
    &__btn {
        display: block;
        min-width: 160px;
        margin-bottom: $spacing-medium;
        padding: $spacing-small $spacing-medium;
        font-size: 16px;
        color: $white-color;
        background-color: rgba(255,255,255,0.16);
        border-radius: $border-radius-small;
        transition: background-color, color 0.3s linear;
        &--active {
            color: $black-color;
            background-color: $green-color;
        }
    }
    &__detail {
        display: flex;
        align-items: center;
    }
}

.tagline {
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.tagline--bottom {
    display: none;
    @media screen and (max-width: 700px) {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-medium;
    }
}