@import '../../styles/variables.scss';

.film-info {
    position: relative;
    // max-width: 800px;
    // margin: 0 auto;
    padding-bottom: 80px;
    &__background {
        height: 50vh;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $black-color, $alpha: 0.7);
        }
    
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-image: linear-gradient(to top, #0f0f0f, rgba($black-color, 0));
        }
    }
    &__container {
        position: relative;
        z-index: 10;
        margin-top: -300px;
        margin-left: auto;
        margin-right: auto;
        max-width: 850px;
        padding: 0 15px;
        @media screen and (max-width: 900px) {
            margin-top: -320px;
        }
        @media screen and (max-width: 5200px) {
            margin-top: -350px;
        }
    }
    &__title {
        font-size: 30px;
        margin-bottom: $spacing-small;
        @media screen and (max-width: 600px) {
            font-size: 26px;
        }
    }
    &__subtitle {
        font-size: 18px;
        opacity: 0.6;
        margin-bottom: $spacing-medium;
    }
    &__genre-list {
        display: flex;
        margin-bottom: 15px;
    }
    &__genre {
        padding: 5px;
        border: 1px solid $green-color;
        border-radius: $border-radius-small;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__back-drop {
        width: 100%;
        height: auto;
    }
    &__inner {
        display: flex;
        gap: 30px;
        margin-bottom: $spacing-big;
    }
    &__overwiev {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 20px;
        @media screen and (max-width: 700px) {
            font-size: 16px;
        }
    }
    &__field {
        padding: 5px 8px;
        border-radius: $border-radius-small;
        background-color: rgba($green-color, 0.15);
    }
    &__detail {
        font-size: 16px;
        margin-bottom: $spacing-medium;
    }
    &__text {
        width: 100px;
        @media screen and (max-width: 700px) {
            width: 70px;
        }
    }
    &__left {
        min-width: 300px;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    &__poster {
        width: 100%;
        height: 100%;
        margin-right: $spacing-big;
        border-radius: $border-radius-small;
        @media screen and (max-width: 700px) {
            width: 160px;
            height: 260px;
        }
        @media screen and (max-width: 600px) {
            width: 160px;
            height: 260px;
        }
        @media screen and (max-width: 430px) {
            width: 140px;
            height: 240px;
            margin-right: $spacing-medium;
        }
    }
    &__btn {
        display: block;
        min-width: 160px;
        margin-bottom: $spacing-medium;
        padding: $spacing-small $spacing-medium;
        font-size: 16px;
        color: $white-color;
        background-color: rgba(255,255,255,0.16);
        border-radius: $border-radius-small;
        transition: background-color, color 0.3s linear;
        &--active {
            color: $black-color;
            background-color: $green-color;
        }
    }
    &__detail {
        display: flex;
        align-items: center;
    }
}

.tagline {
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.tagline--bottom {
    display: none;
    @media screen and (max-width: 700px) {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-medium;
    }
}