@import '../../styles/variables.scss';

.film-item {
    // padding: 20px 10px;
    max-width: 160px;
    margin: 0 auto;
    border-radius: $border-radius-medium;
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    // background-color: rgba(255,255,255,0.15);
    &:hover &__title {
        color: $green-color;
    }
    &__poster {
        width: 160px;
        height: 260px;
        border-radius: $border-radius-small;
        margin-bottom: $spacing-small;
        @media screen and (max-width: 450px) {
            width: 120px;
            height: 220px;
        }
    }
    &__title {
        transition: color 0.2s linear;
        font-size: 18px;
    }
}